spring:
  application:
    name: school
  datasource:
    url: jdbc:postgresql://localhost:5555/school
    username: asror
    password: 3875671
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
jwt:
  expiration-time: 86400
  secret-key: 979BCA7FFCAAFC9C641BDEE791B1A

